# Before running the project, you must:
# cp env.template .env
# Configure per your needs
# docker compose up -d

SONIC_VERSION=v1.2.1-i

# Basic Configuration
DATADIR=/app/datadir

# Network Configuration
# We use network_mode host - so the changes here will reflect the ports listening on the host itself
HTTP_ADDR=0.0.0.0
HTTP_PORT=18545
WS_ADDR=0.0.0.0
WS_PORT=18546
MAX_PEERS=32
EXT_IP=
P2P_PORT=25010

# RPC Configuration
HTTP_API=eth,web3,net,ftm,txpool,abft,dag,trace,debug
WS_API=eth,web3,net,ftm,txpool,abft,dag,trace,debug
GAS_CAP=0
TX_FEE_CAP=0

# Performance Configuration
CACHE_MB=12000
GOMEMLIMIT=30GiB
MEM_LIMIT=32g

# Watcher Configuration
DIRTY_STATE_PATTERN=dirty state
CHECK_INTERVAL=60