############################
# Nethermind Configuration #
############################
NETHERMIND_VERSION=1.35.0

NETH_DATADIR=/nethermind/nethermind_db

############################
# Linea Besu Configuration #
############################
BESU_IMAGE=consensys/linea-besu-package:beta-v4.0-rc16-20251021142842-0c1c767
BESU_DATADIR=


############################
# Networking Configuration #
############################
HTTP_ADDR=0.0.0.0
HTTP_PORT=18345
WS_ADDR=0.0.0.0
WS_PORT=18346
MAX_PEERS=32
EXT_IP=
P2P_PORT=31303
METRICS_PORT=8008


# Performance Configuration
MEM_LIMIT=32g